.navbar {
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;

    .links {
        display: flex;
        align-items: center;

        li {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            .link {
                display: inline-block;
                padding: 1rem 1.5rem;
                border-radius: 25rem;
                transition: all 0.1s ease-in-out;
                font-size: 0.875rem;

                &:hover {
                    background-color: #fafafa;
                }

                &:active {
                    background-color: #ddd;
                }
            }
        }
    }
}