// import necessary scss utils
@use "../../scss-utils/variables";


.index-page {
    height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;

    .actions {
        margin-top: 2rem;

        p {
            margin: 1rem 0;
        }

        .login {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}