// import necessary scss utils
@use "./scss-utils/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: variables.$colorTextSecondary;
    // background-color: #3e6da308;
}

// general element styles
h1 {
    color: variables.$colorTextPrimary;
    font-size: clamp(1.5rem, 1.0556rem + 2.2222vw, 3rem);
}

h2 {
    font-size: clamp(1.125rem, 0.8657rem + 1.2963vw, 2rem);
}

h3 {
    font-size: clamp(1rem, 0.8519rem + 0.7407vw, 1.5rem);
}

ul {
    list-style: none;
}

// reusable classes
.heading {
    .sub {
        font-weight: 300;
        margin-top: 0.5rem;
    }
}

.link,
a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 25rem;
    font-weight: 700;
    color: variables.$colorLight;

    &--pri {
        background-color: variables.$colorPrimary;
    }

    &--sec {
        color: variables.$colorTextSecondary;
        background-color: variables.$colorLight;
        border: 2px solid variables.$colorTextSecondary;
    }
}